@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    overflow-y: visible;
    overflow-x: hidden;
    height: 100%;
    background-color: #0C0C0C;
}
body{
    background-color: #0C0C0C;
    width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
    height: 100%;
    color: white;
    font-family: "Inter", sans-serif;
}